body{
    background-color: antiquewhite;
}

li, a, button{
color: #693636;
text-decoration: none;
font-size: 30px;
font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */

}

.logo{
    cursor: pointer;
}

.navlinks{
list-style: none;
}

.navlinks li{
display: inline-block;
padding: 0px 20px;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
   color: rgb(121, 187, 55);
}

button{
    padding: 9px 18px;
    background-color: #ff6e6e;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s ;
}

button:hover{
    background-color: #7cc767;
}

#mainpicT{
 color: #693636;
 display: grid;
 justify-content:center;
align-items: center;
font-size: 40px;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

#mainpic{
    margin-top: 0px;
    display: flex;
    justify-content: space-evenly;
}

#foot{
height: 300px;
  background-color: #693636;  
  color: beige;
  font-size: 20px;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  align-items: center;
  justify-content: center;
  display: grid;

}

#downloads{
    margin: 0px;
    display: flex;
    justify-content:center;
    align-content:center
}

#subtit1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #693636;
     font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}